.header {
    padding: 1rem 0 3rem;
}

.title{
 font-family: helvetica neue;
 font-weight: 100;
}

.nav-list{
    display:flex;
    list-style-type: none;
    margin:0;
}



.nav-item {
 display: flex;
 font-size: 0.9rem;
 margin-right: 1.3rem;
}

.nav-item:hover{
    color: hsla(315, 86%, 66%, 0.8);
}
.active-nav-item{
    color:hsl(244, 100%, 69%)
}